<?xml version="1.0" encoding="utf-16"?>
<!DOCTYPE root [<!ELEMENT anthemContactUs ANY>
<!ATTLIST anthemContactUs id ID #REQUIRED>
<!ELEMENT anthemAboutUs ANY>
<!ATTLIST anthemAboutUs id ID #REQUIRED>
<!ELEMENT anthemServices ANY>
<!ATTLIST anthemServices id ID #REQUIRED>
<!ELEMENT blogDetails ANY>
<!ATTLIST blogDetails id ID #REQUIRED>
<!ELEMENT anthemBlogPage ANY>
<!ATTLIST anthemBlogPage id ID #REQUIRED>
<!ELEMENT anthemPortfolioDetails ANY>
<!ATTLIST anthemPortfolioDetails id ID #REQUIRED>
<!ELEMENT anthemPortfolio ANY>
<!ATTLIST anthemPortfolio id ID #REQUIRED>
<!ELEMENT anthemHome ANY>
<!ATTLIST anthemHome id ID #REQUIRED>
 
<!ELEMENT BlogPost ANY>
<!ATTLIST BlogPost id ID #REQUIRED>
<!ELEMENT BlogPostRepository ANY>
<!ATTLIST BlogPostRepository id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT LandingPage ANY>
<!ATTLIST LandingPage id ID #REQUIRED>
<!ELEMENT TextPage ANY>
<!ATTLIST TextPage id ID #REQUIRED>

]>
<root id="-1">
  <anthemHome id="1150" key="9342ece3-f127-4b49-a44d-d07e6c6d4808" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2016-11-19T13:55:10" updateDate="2016-11-19T16:32:29" nodeName="Anthem Home" urlName="anthem-home" path="-1,1150" isDoc="" nodeType="1149" creatorName="Stephen Shaw" writerName="Stephen Shaw" writerID="0" template="1147" nodeTypeAlias="anthemHome">
    <slide1Subheading><![CDATA[Sub 1]]></slide1Subheading>
    <slide2><![CDATA[1162]]></slide2>
    <slide3Heading><![CDATA[Slide 3]]></slide3Heading>
    <slide3><![CDATA[1162]]></slide3>
    <slide2Heading><![CDATA[Sub 2]]></slide2Heading>
    <slide1Heading><![CDATA[Slide 1]]></slide1Heading>
    <slide3Subheading><![CDATA[Slide 3 Subheading]]></slide3Subheading>
    <slide1><![CDATA[1162]]></slide1>
    <slide2Subheading><![CDATA[Sub 2 subheading]]></slide2Subheading>
    <section2Subheader><![CDATA[sub heading for this]]></section2Subheader>
    <projects><![CDATA[1222,1223,1224,1225]]></projects>
    <section2FolioText><![CDATA[We are proud of our work, check it]]></section2FolioText>
    <section2Header><![CDATA[Cooshla section 2]]></section2Header>
    <section2Description><![CDATA[we do stuff and shit]]></section2Description>
    <service3Content><![CDATA[At this point I can no longer avoid giving a first, provisional statement of my own hypothesis.

Donec quis dui at dolor tempor interdum..
Aliquam tincidunt mauris eu risus.
Ut aliquam sollicitudin leo.
Fusce pellentesque suscipit nibh.
Cras ornare tristique elit.
Vestibulum auctor dapibus neque.]]></service3Content>
    <service1Header><![CDATA[WEB DESIGN SERVICES]]></service1Header>
    <service2Header><![CDATA[GRAPHIC DESIGN]]></service2Header>
    <service2Content><![CDATA[At this point I can no longer avoid giving a first, provisional statement of my own hypothesis.

Donec quis dui at dolor tempor interdum..
Aliquam tincidunt mauris eu risus.
Ut aliquam sollicitudin leo.
Fusce pellentesque suscipit nibh.
Cras ornare tristique elit.
Vestibulum auctor dapibus neque.]]></service2Content>
    <service3Header><![CDATA[DIGITAL MARKETING]]></service3Header>
    <service1Content><![CDATA[At this point I can no longer avoid giving a first, provisional statement of my own hypothesis.

Donec quis dui at dolor tempor interdum..
Aliquam tincidunt mauris eu risus.
Ut aliquam sollicitudin leo.
Fusce pellentesque suscipit nibh.
Cras ornare tristique elit.
Vestibulum auctor dapibus neque.]]></service1Content>
    <blogPosts><![CDATA[1231]]></blogPosts>
    <anthemPortfolio id="1221" key="0cf7d9e4-2e58-4669-b04a-aba90ba4b431" parentID="1150" level="2" creatorID="0" sortOrder="0" createDate="2016-11-19T16:10:10" updateDate="2016-11-19T16:10:10" nodeName="Our Work" urlName="our-work" path="-1,1150,1221" isDoc="" nodeType="1213" creatorName="Stephen Shaw" writerName="Stephen Shaw" writerID="0" template="1208" nodeTypeAlias="anthemPortfolio">
      <anthemPortfolioDetails id="1222" key="8247e09f-6e3f-4012-a16c-6694b58b6ba6" parentID="1221" level="3" creatorID="0" sortOrder="0" createDate="2016-11-19T16:11:07" updateDate="2016-11-19T16:11:07" nodeName="Elements" urlName="elements" path="-1,1150,1221,1222" isDoc="" nodeType="1220" creatorName="Stephen Shaw" writerName="Stephen Shaw" writerID="0" template="1219" nodeTypeAlias="anthemPortfolioDetails">
        <previewImage><![CDATA[1159]]></previewImage>
        <title><![CDATA[Elements Martial Arts]]></title>
        <description><![CDATA[Wordpress, Design]]></description>
      </anthemPortfolioDetails>
      <anthemPortfolioDetails id="1223" key="da0e87be-dfd4-4155-b6f7-8d7ef749aa63" parentID="1221" level="3" creatorID="0" sortOrder="1" createDate="2016-11-19T16:11:40" updateDate="2016-11-19T16:11:40" nodeName="Giles Brody" urlName="giles-brody" path="-1,1150,1221,1223" isDoc="" nodeType="1220" creatorName="Stephen Shaw" writerName="Stephen Shaw" writerID="0" template="1219" nodeTypeAlias="anthemPortfolioDetails">
        <previewImage><![CDATA[1159]]></previewImage>
        <title><![CDATA[Giles Brody]]></title>
        <description><![CDATA[Umbraco, Web Design]]></description>
      </anthemPortfolioDetails>
      <anthemPortfolioDetails id="1224" key="10055610-516a-4c9f-b46e-3a49130c3e11" parentID="1221" level="3" creatorID="0" sortOrder="2" createDate="2016-11-19T16:12:17" updateDate="2016-11-19T16:12:17" nodeName="Niki Homer" urlName="niki-homer" path="-1,1150,1221,1224" isDoc="" nodeType="1220" creatorName="Stephen Shaw" writerName="Stephen Shaw" writerID="0" template="1219" nodeTypeAlias="anthemPortfolioDetails">
        <previewImage><![CDATA[1159]]></previewImage>
        <title><![CDATA[Niki Homer]]></title>
        <description><![CDATA[Umbraco, Design, Xamarin]]></description>
      </anthemPortfolioDetails>
      <anthemPortfolioDetails id="1225" key="a3cf5585-00cc-473a-9a3a-f2f191cd2f87" parentID="1221" level="3" creatorID="0" sortOrder="3" createDate="2016-11-19T16:13:00" updateDate="2016-11-19T16:13:00" nodeName="Rumble" urlName="rumble" path="-1,1150,1221,1225" isDoc="" nodeType="1220" creatorName="Stephen Shaw" writerName="Stephen Shaw" writerID="0" template="1219" nodeTypeAlias="anthemPortfolioDetails">
        <previewImage><![CDATA[1159]]></previewImage>
        <title><![CDATA[Rumble Bjj]]></title>
        <description><![CDATA[Xamarin, Android, IOS]]></description>
      </anthemPortfolioDetails>
    </anthemPortfolio>
    <anthemBlogPage id="1230" key="47ea44cf-8153-4a43-a4d8-38610daece0f" parentID="1150" level="2" creatorID="0" sortOrder="1" createDate="2016-11-19T16:30:52" updateDate="2016-11-19T16:30:52" nodeName="Blog" urlName="blog" path="-1,1150,1230" isDoc="" nodeType="1227" creatorName="Stephen Shaw" writerName="Stephen Shaw" writerID="0" template="1209" nodeTypeAlias="anthemBlogPage">
      <blogDetails id="1231" key="026aed3b-dca5-491d-b9b5-833944336e12" parentID="1230" level="3" creatorID="0" sortOrder="0" createDate="2016-11-19T16:31:20" updateDate="2016-11-19T16:35:04" nodeName="Fiddler in Xamarin Forms" urlName="fiddler-in-xamarin-forms" path="-1,1150,1230,1231" isDoc="" nodeType="1228" creatorName="Stephen Shaw" writerName="Stephen Shaw" writerID="0" template="1226" nodeTypeAlias="blogDetails">
        <previewImage><![CDATA[1159]]></previewImage>
        <title><![CDATA[Using Fiddler in Xamarin Forms]]></title>
        <description><![CDATA[Debugging your api calls is a common need...]]></description>
      </blogDetails>
    </anthemBlogPage>
    <anthemServices id="1239" key="514a0e1f-18c8-4e7b-a0c8-245c209e9825" parentID="1150" level="2" creatorID="0" sortOrder="2" createDate="2016-11-19T16:44:09" updateDate="2016-11-19T16:44:09" nodeName="Services" urlName="services" path="-1,1150,1239" isDoc="" nodeType="1237" creatorName="Stephen Shaw" writerName="Stephen Shaw" writerID="0" template="1211" nodeTypeAlias="anthemServices" />
    <anthemAboutUs id="1240" key="1e39e6ef-fe2f-44a2-8482-bf5c4f4e14d9" parentID="1150" level="2" creatorID="0" sortOrder="3" createDate="2016-11-19T16:44:33" updateDate="2016-11-19T16:44:33" nodeName="About Us" urlName="about-us" path="-1,1150,1240" isDoc="" nodeType="1236" creatorName="Stephen Shaw" writerName="Stephen Shaw" writerID="0" template="1210" nodeTypeAlias="anthemAboutUs" />
    <anthemContactUs id="1241" key="25d8adb8-ca95-4886-8115-402faeb50a07" parentID="1150" level="2" creatorID="0" sortOrder="4" createDate="2016-11-19T16:44:51" updateDate="2016-11-19T16:44:51" nodeName="Contact Us" urlName="contact-us" path="-1,1150,1241" isDoc="" nodeType="1238" creatorName="Stephen Shaw" writerName="Stephen Shaw" writerID="0" template="1212" nodeTypeAlias="anthemContactUs" />
  </anthemHome>
</root>