<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT AnthemHome ANY>
<!ATTLIST AnthemHome id ID #REQUIRED>

]>
<root id="-1">
  <AnthemHome id="1065" key="5a048682-3189-4608-b2d4-2214f9305255" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-01-19T15:33:50" updateDate="2017-01-19T15:41:15" nodeName="Home" urlName="home" path="-1,1065" isDoc="" nodeType="1064" creatorName="Stephen" writerName="Stephen" writerID="0" template="1049" nodeTypeAlias="AnthemHome" />
</root>